<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Steam Testing">
  <test name="Sign-In Page">
    <classes>
      <class name="testing.steam.SignIn" />
    </classes>
  </test>
  <test name="Support Page">
    <classes>
      <class name="testing.steam.AuthenticatedSupport" />
      <class name="testing.steam.UnauthenticatedSupport" />
    </classes>
  </test>
</suite>
